body {
}

.specialTitle {
  text-transform: uppercase;
  font-weight: normal;
  color: tomato;
  border-bottom: 1px solid pink;
}

.someOther {
  background-color: brown;
}

.dark {
  background-color: #333;
  color: white;
}
